# exclude all
/*

# Include important folders

# Other Files.
!LICENSE.txt
!README.md
!setup.bat

# Include git important files
!.gitmodules
!.gitignore

# Include Important Folders
!platform/
!examples
!docs

!.github/