# exclude all
/*

# Include important folders

# Gradle stuff
!gradle/
!../sfm4/gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!build.properties
!gradle.properties
!settings.gradle

# Other Files.
!LICENSE.txt
!README.md
!setup.bat

# Include git important files
!.gitmodules
!.gitignore

# Include Important Folders
!src/
